:root {
  --dark: #073b4c;
  --blue: #118ab2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  padding: 32px 32px;
}

h2 {
  width: 100%;
  text-align: left;
  text-transform: uppercase;
  color: var(--dark);
  margin-bottom: 32px;
}

.dashboard-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.dashboard-container .info-container {
  margin-left: 32px;
}

@media(max-width: 700px) {
  .dashboard-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-start;
  }

  .image-container object {
    width: 100%;
    margin-top: -60px;
  }

  .dashboard-container .info-container {
    margin: 0;
  }
  
}

@media(max-width: 450px) {
  .dashboard-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-start;
  }

  .image-container object {
    width: 100%;
    margin-top: -10px;
  }

  .dashboard-container .info-container {
    margin: 0;
  }
  
}

.dashboard-container .image-container {
  width: 100%;
  max-width: 600px;
}

.dashboard-container .image-container object {
  width: 100%;
}



.info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 230px;
}

.info-container .info-item {
  margin-top: 16px;
}

.info-container .label {
  font-size: 14px;
  color: #333;
  padding-bottom: 4px;
}

.info-container .info {
  font-size: 22px;
  color: #111;
  padding-bottom: 4px;
}

.map-tooltip {
  position: absolute;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border:#d3d3d3 solid 1px;
  background: #fff;
  color: black;
  font-family: Comfortaa, Verdana;
  font-size: smaller;
  padding: 8px;
  pointer-events:none;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}